# add git-ignore syntax here of things you don't want copied into docker image

__mocks__
__tests__
.dockerignore
.env*
.git
.github
.gitignore
.husky
.lintstagedrc.js
.next
.prettierrc
.results
.vscode
coverage
cypress
cypress.config.ts
docker-compose*
Dockerfile*
jest.config.ts
LICENSE
load-test.js
node_modules
npm-debug.log
README.md
reporter-config.json
scripts