{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "importOrder": ["^react$", "^@testing-library/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 128
}
